{% extends 'bootstrap/base.html' %}


{% block styles %}
    {{super()}}

    <link rel="stylesheet" href="/static/css/styles.css">
{% endblock %}

{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">{{ cafes[0][0] }}</th>
            <th scope="col">{{ cafes[0][1] }}</th>
            <th scope="col">{{ cafes[0][2] }}</th>
            <th scope="col">{{ cafes[0][3] }}</th>
            <th scope="col">{{ cafes[0][4] }}</th>
            <th scope="col">{{ cafes[0][5] }}</th>
            <th scope="col">{{ cafes[0][6] }}</th>
          </tr>
        </thead>

        <tbody>

          {% for cafe in cafes[1:] %}
            <tr>
              <th scope="row">{{ cafe[0] }}</th>
              <td><a href="{{ cafe[1] }}">Maps Link</a></td>
              <td>{{ cafe[2] }}</td>
              <td>{{ cafe[3] }}</td>
              <td>{{ cafe[4] }}</td>
              <td>{{ cafe[5] }}</td>
              <td>{{ cafe[6] }}</td>
            </tr>
          {% endfor %}

        </tbody>
      </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}